
* {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

body {
    background: #ccc;
    color: #000;
    font-family: Calibri, Arial, sans-serif;
    font-size: 150%;
    margin: 0; /* keep this */
}

.columnleft {
	margin: auto;
	float: left;
	width: 50%;
	clear: both;
	padding: 0 3%;
}

.cougar {
	background: #B26219;
	overflow: auto;
	float: left;
}

.lion {
	background: #FFD5AE;
	overflow: auto;
	float: left;
}

.tiger {
	background: #FFBD82;
	overflow: auto;
	float: left;
}

article {
	width: 50%;
	margin: auto;
	float: left;
	padding-right: 3%;
}

footer {
	text-align: center;
	padding: 20px 200px;
	clear: both;
}

header {
	padding: 0 20px;
}

h1 {
	float: left;
	width: 49%;
}

/* ----- suggested colors -----
   B26219 cinnamon
   FFD5AE pale peach 
   FFBD82 peach
   379CB2 medium blue
   82E8FF light blue
   
   ----- neutral colors -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- links and nav --- */

a { color: #000; }
a:hover { color: #666; }

nav {
	float: right;
	width: 49%;
	margin-top: 25px;
}

nav ul {
	list-style: none;
}

nav li {
	float: right;
	margin-right: 20px;
}


